<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <header class="header">
  <p class="site-title-sub">----- Web application portfolio -----</p>
  <h1 class="site-title">My WORKS</h1>
  <p class="site-description">Check out some of my works.</p>
  <div class="buttons">
    <a class="button01" href="#about">Read MORE</a>
    <a class="button01 button-orange" href="#contact">SEND MESSAGE</a>
  </div>
  </header>


<!-- //__________________________________________________________________________________________________ -->

<section class="about" id="about">
    <h2 class="heading">PROFILE</h2>
<p class="about-text">
  大学へ向かう途中でみたデジタルアートに一目惚れしました。<br>
  私もこんなことがしたい、と思いプログラミングを学び始めました。<br>
  作り始めてみると、思った以上にモノづくりって楽しいなと思う日々です。<br>
  <br><br>
  韓国のKyung Hee大学に編入中の4年生です<br>
  HTML / CSS / Javascript / jQuery / Ruby / Rails / Git GitHub / AWS 使用することができます。
</p>
</section>

<!-- //__________________________________________________________________________________________________ -->

  <section class="works">
      <h2 class="heading">MY WORKS</h2>
  <div class="works-wrapper">


    <div class="work-box">
      <img class="work-image" src="assets/pof.png" alt="制作事例">
      <div class="work-description"> 
        <a href="#ChatSpace" class="button button-ghost">ChatSpace</a>
      </div>
    </div>

    <div class="work-box">
      <img class="work-image" src="assets/pof.f01.png" alt="制作事例">
      <div class="work-description"> 
        <a href="#furima" class="button button-ghost">FURIMA</a>
      </div>
    </div>
  </div>

  <div class="works-wrapper">
    <div class="work-box">
      <img class="work-image" src="assets/pof.m01.png" alt="制作事例">
      <div class="work-description"> 
        <a href="#m-app" class="button button-ghost">グループ型目標管理</a>
      </div>
    </div>

    <div class="work-box">
      <img class="work-image" src="assets/pof.s01.png" alt="制作事例">
      <div class="work-description"> 
        <a href="#" class="button button-ghost">comming soon..</a>
      </div>
    </div>
  </div>
  </div>
  </section>



  <!-- //__________________________________________________________________________________________________ -->


  <section class="about" id="ChatSpace">
    <h2 class="heading">01.ChatSpace</h2>
<p class="about-text">
  このアプリは授業の一環で作成しました。<br>
  ChatSpaceの特徴は、<br>
  登録後、グループでメンバーとチャットのやりとりができます。<br>
  メッセージの他に画像を送ることもできます。
  <br><br>
  <!-- <a href="http://3.113.61.239/">▽ http://3.113.61.239/</a> -->
</p>
</section>



  <!-- //__________________________________________________________________________________________________ -->


  <!-- //__________________________________________________________________________________________________ -->


  <section class="about" id="furima">
    <h2 class="heading">02.FURIMA</h2>
<p class="about-text">
  このアプリはチームで開発を行いました。<br>
  ソースは有名な某フリマアプリです。
  <br>
  FURIMAの特徴は、<br>
  ログイン登録/クレジットカード登録ができ、<br>
  アイテムを出品/編集/購入することができます。<br>
  担当箇所は以下です、<br>
  フロント▷ マイページ/住所登録<br>
  サーバー▷ ウィザード形式を用いたログイン登録/pay.jp導入/エラーハンドリング/機能の単体テスト
  <br><br>
  <a href="http://3.113.61.239/">▽ http://3.113.61.239/</a>
  <br>
  ID/Pass<br>
  ID: 68jfurima /
  Pass: 2222
</p>
</section>

  <!-- //__________________________________________________________________________________________________ -->


  <section class="about" id="m-app">
    <h2 class="heading">03. M-app</h2>
<p class="about-text">
  このアプリは以下のような人たちのために作成しました。<br>
  目標はあるけれど、三日坊主。<br>
  誰かと一緒じゃないと毎日続けられない。<br>
  目標達成したら、みんなでどこかに行きたい。<br>
  <br>
  M-appの特徴は、<br>
  チームで各自の目標を共有できること。<br>
  毎日、決めた目標に対して自己評価のポイントをつけること。<br>
  メンバー各自の振り返り点数の平均が、グループの点数になること。<br>
  各メンバーの平均評価ポイントが棒グラフとして、視覚化されること。<br>
  グループ点数が、目標値より上の場合、目標達成イベントが発生すること。<br>
  グループ点数が、目標値より下の場合、目標未達成イベントが発生すること。
  <br><br>
  <a href="https://map-archive.herokuapp.com/users/sign_in">▽ https://map-archive.herokuapp.com/users/sign_in</a>
</p>
</section>


  <!-- //__________________________________________________________________________________________________ -->


  <!-- <section class="about" id="about">
    <h2 class="heading">04. comming soon..</h2>
<p class="about-text"> -->
  <!-- このアプリは以下のような人たちのために作成しました。<br>
  集中力がとにかく続かない。<br>
  集中力の記録をつけたい。<br>
  一日、どれくらい集中していたのか視覚化したい。<br>
  <br>
  S-appの特徴は、<br>
  一日の集中力の記録ができること。<br>
  毎日の集中力をグラフで見ることができること。<br>
  一週間単位で、日々の集中力グラフを確認できること。<br>
  集中力アップにいい食べ物をどれだけ採ったか、ポイント式で採点できること。<br>
  集中力アップにいい食べ物をどれだけ採ったか、ポイント式で一週間分確認できること。
  <br><br>
  ▽ https://map-archive.herokuapp.com/users/sign_in -->
<!-- </p>
</section> -->


<!-- //__________________________________________________________________________________________________ -->

<section class="contact" id="contact">
  <form class="contact-form">
<%# <input type="text" name="name" placeholder="NAME">
<input type="text" name="address" placeholder="ADDRESS"> %>
<%# <textarea name="message" placeholder="MESSAGE"></textarea> %>
<%# <p name="message" placeholder="MESSAGE"></p> %>
<%# <input type="submit" value="SEND"> %>

    <header class="header-contact">
    <h1 class="site-title-contact">CONTACT</h1>
    <p class="site-description-contact01">ご依頼・お問い合わせ</p>
    <p class="site-description-contact02">
      sorairo.benimairoi@gmail.com<br><br>
      お気軽に上記メールアドレスまでご連絡ください。
    </p>
    </header>

  </form>
</section>

  <!-- <section class="contact" id="contact">
      <form class="contact-form">
    <input type="text" name="name" placeholder="NAME">
    <input type="text" name="address" placeholder="ADDRESS">
    <textarea name="message" placeholder="MESSAGE"></textarea>
    <input type="submit" value="SEND">
  </form>
  </section> -->

</body>
</html>







<!-- //__________________________________________________________________________________________________ -->


<!-- 
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
</head>
<body>
      <header class="header">
          <p class="site-title-sub">----- Web application portfolio -----</p>
  <h1 class="site-title">My WORKS</h1>
  <p class="site-description">Check out some of my works.</p>
  <div class="buttons">
    <a class="button" href="#about">Read MORE</a>
    <a class="button button-orange" href="#contact">SEND MESSAGE</a>
  </div>
  </header> -->


<!-- //__________________________________________________________________________________________________ -->

<!-- <section class="about" id="about">
    <h2 class="heading">PROFILE</h2>
<p class="about-text">
  大学へ向かう途中でみたデジタルアートに一目惚れしました。<br>
  私もこんなことがしたい、と思いプログラミングを学び始めました。<br>
  作り始めてみると、思った以上にモノづくりって楽しいなと思う日々です。<br>
  <br><br>
  韓国のKyung Hee大学に編入中の4年生です<br>
  HTML / CSS / Javascript / jQuery / Ruby / Rails / Git GitHub / AWS 使用することができます。
</p>
</section> -->

<!-- //__________________________________________________________________________________________________ -->

  <!-- <section class="works">
      <h2 class="heading">MY WORKS</h2>
  <div class="works-wrapper">


    <div class="work-box">
      <img class="work-image" src="images/pof.png" alt="制作事例">
      <div class="work-description"> 
        ChatSpace<br>
        <a href="#" class="button button-ghost">READ MORE</a>
      </div>
    </div>

    <div class="work-box">
      <img class="work-image" src="images/pof.f01.png" alt="制作事例">
      <div class="work-description"> 
        FURIMA<br>
        <a href="#" class="button button-ghost">READ MORE</a>
      </div>
    </div>
  </div>

  <div class="works-wrapper">
    <div class="work-box">
      <img class="work-image" src="images/pof.m01.png" alt="制作事例">
      <div class="work-description"> 
        グループ型目標管理<br>
        <a href="#" class="button button-ghost">READ MORE</a>
      </div>
    </div>

    <div class="work-box">
      <img class="work-image" src="images/pof.s01.png" alt="制作事例">
      <div class="work-description"> 
        comming soon..<br>
        <a href="#" class="button button-ghost">READ MORE</a>
      </div>
    </div>
  </div>
  </div>
  </section> -->


  <!-- //__________________________________________________________________________________________________ -->


  <!-- <section class="about" id="about">
    <h2 class="heading">02.FURIMA</h2>
<p class="about-text">
  このアプリはチームで開発を行いました。<br>
  ソースは有名な某フリマアプリです。
  <br>
  FURIMAの特徴は、<br>
  担当箇所は以下です、<br>
  フロント▷ マイページ/住所登録<br>
  サーバー▷ ウィザード形式を用いたログイン登録/pay.jp導入/エラーハンドリング/機能の単体テスト
  <br><br>
  ▽ http://3.113.61.239/<br>
  
  ID/Pass
  ID: 68jfurima
  Pass: 2222
</p>
<a href="http://3.113.61.239/"></a>
</section> -->

  <!-- //__________________________________________________________________________________________________ -->

<!-- 
  <section class="about" id="about">
    <h2 class="heading">03. M-app</h2>
<p class="about-text">
  このアプリは以下のような人たちのために作成しました。<br>
  目標はあるけれど、三日坊主。<br>
  誰かと一緒じゃないと毎日続けられない。<br>
  目標達成したら、みんなでどこかに行きたい。<br>
  <br>
  M-appの特徴は、<br>
  チームで各自の目標を共有できること。<br>
  毎日、決めた目標に対して自己評価のポイントをつけること。<br>
  メンバー各自の振り返り点数の平均が、グループの点数になること。<br>
  各メンバーの平均評価ポイントが棒グラフとして、視覚化されること。<br>
  グループ点数が、目標値より上の場合、目標達成イベントが発生すること。<br>
  グループ点数が、目標値より下の場合、目標未達成イベントが発生すること。
  <br><br>
  ▽ https://map-archive.herokuapp.com/users/sign_in
</p>
</section> -->


  <!-- //__________________________________________________________________________________________________ -->


  <!-- <section class="about" id="about">
    <h2 class="heading">04. comming soon..</h2>
<p class="about-text"> -->
  <!-- このアプリは以下のような人たちのために作成しました。<br>
  集中力がとにかく続かない。<br>
  集中力の記録をつけたい。<br>
  一日、どれくらい集中していたのか視覚化したい。<br>
  <br>
  S-appの特徴は、<br>
  一日の集中力の記録ができること。<br>
  毎日の集中力をグラフで見ることができること。<br>
  一週間単位で、日々の集中力グラフを確認できること。<br>
  集中力アップにいい食べ物をどれだけ採ったか、ポイント式で採点できること。<br>
  集中力アップにいい食べ物をどれだけ採ったか、ポイント式で一週間分確認できること。
  <br><br>
  ▽ https://map-archive.herokuapp.com/users/sign_in -->
<!-- </p>
</section> -->


<!-- //__________________________________________________________________________________________________ -->

  <!-- <section class="contact" id="contact">
      <form class="contact-form">
    <input type="text" name="name" placeholder="NAME">
    <textarea name="message" placeholder="MESSAGE"></textarea>
    <input type="submit" value="SEND">
  </form>
  </section>

</body>
</html> -->
